:root {
    background-color: #9bafd9;
    background-image: linear-gradient(to right, #4e6393, #0c2963);
    overflow-y: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}