:root {
    background-color: #9bafd9;
    background-image: linear-gradient(to right, #536388, #163677);
    /* overflow-y: hidden; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 97vh;
}