.navbar *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

/* body{
    background:linear-gradient(135deg,#00109e,#040b38);
    min-height:100vh;
    padding:20px;
} */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff30;
    padding: 20px 0;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    padding:10px 16px;
    border-radius:25px;
    transition:.4s;
}

.nav-links a:hover{
    background:white;
    color:black;
}

.contact-btn{
    background:#2563eb;
    color:white;
}

.contact-btn:hover{
    background:#1d4ed8;
}

.menu-icon{
    display:none;
    color:white;
    font-size:30px;
    cursor:pointer;
}

/* Mobile */

/* @media(max-width:768px){

.menu-icon{
    display:block;
}

.nav-links{
    position:absolute;
    top:85px;
    left:0;

    width:100%;
    display:none;
    flex-direction:column;

    background:rgba(30,41,59,0.95);
    border-radius:15px;
    padding:20px;
}

.nav-links.active{
    display:flex;
}

.nav-links li{
    width:100%;
    text-align:center;
}

.nav-links a{
    width:100%;
    display:block;
}
}

@media(max-width:480px){

.logo{
    font-size:22px;
}

.navbar{
    padding:15px;
}
} */