:root {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* #root {
    min-width: 100%;
} */

#landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* body{
    min-height:100vh;
    padding:20px;
} */

.navbar {
    position: static;
    top: 0;
    left: 0;
    width: 90vw;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff30;
    padding: 20px 0;
}

.logo{
    margin-left: 16px;
    color:white;
    font-size:28px;
    font-weight:bold;
}

.navLinks{
    margin-right: 16px;
    list-style:none;
    display:flex;
    align-items:center;
    gap:20px;
}

.navLinks a{
    text-decoration:none;
    color:white;
    padding:10px 16px;
    border-radius:25px;
    transition:.4s;
}

.navLinks a:hover{
    background:white;
    color:black;
}

.contactBtn{
    background:#2563eb;
    color:white;
}

.contactBtn:hover{
    background:#1d4ed8;
}


/* Mobile */

/* @media(max-width:768px){

.menu-icon{
    display:block;
}

.nav-links{
    position:absolute;
    top:85px;
    left:0;

    width:100%;
    display:none;
    flex-direction:column;

    background:rgba(30,41,59,0.95);
    border-radius:15px;
    padding:20px;
}

.nav-links.active{
    display:flex;
}

.nav-links li{
    width:100%;
    text-align:center;
}

.nav-links a{
    width:100%;
    display:block;
}
}

@media(max-width:480px){

.logo{
    font-size:22px;
}

.navbar{
    padding:15px;
}
} */

main {
    max-width: max-content;
}

.main{
    height: 50vh;
    width: 80vw;
    background-color: rgb(173, 210, 69);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff30;
}